@page "/details/{Id}"

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">To-Do List</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    @if (_entries is null)
    {
        for (int i = 0; i < 5; i++)
        {
            <MudSkeleton />
        }
    }
    else
    {
        <MudList>
            @foreach (var item in _entries)
            {
                <MudStack Row="true" Justify="Justify.SpaceBetween">
                    <MudCheckBox @bind-Checked="item.IsDone">
                        <div style="@(item.IsDone ? "text-decoration: line-through;" : "")">
                            @item.Name
                        </div>
                    </MudCheckBox>
                    <MudStack Row="true" Spacing="0">
                        <MudButton Icon="@Icons.Material.Outlined.RestoreFromTrash" Color="Color.Error" OnClick="() => Remove(item)">Remove</MudButton>
                    </MudStack>
                </MudStack>
            }
        </MudList>
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="AddNewEntry" />
            <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="SaveAsync" />
        </MudCardActions>
    }
</MudCard>